body {
  font-family: Arial;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quiz-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
}

button {
  margin-top: 10px;
  padding: 8px 15px;
  cursor: pointer;
}